*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow: auto;
}

body {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited {
  color: var(--app-primary);
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

a:hover {
  color: var(--secondary);
}

button {
  font-family: var(--font-family-primary);
}

.anim-section {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  transition: transform 350ms ease-out, opacity 350ms ease-out;
}

.show .anim-section {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.input {
  background-color: var(--text-field-bg-color);
  border: 1px solid var(--text-field-border-color);
  border-radius: 3px;
  color: var(--text-field-text-color);
  font-family: var(--font-family-primary);
  height: 34px;
  padding: 0 10px;

  &:focus {
    background-color: var(--text-field-bg-color__FOCUSED);
    border: 1px solid var(--text-field-border-color__FOCUSED);
    outline: none;
  }

  &::placeholder {
    color: var(--text-field-placeholder-text-color);
  }
}

.empty {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.form-buttons {
  width: 100%;
  justify-content: flex-end;
  display: flex;

  > * {
    margin: 0 10px 0 0;

    &:last-child {
      margin: 0;
    }
  }
}

.v-btn {
  border: none;
}
